DATABASE_URL=postgresql://user:password@ep-example-123.us-east-1.aws.neon.tech/neondb?sslmode=require
LIBELULA_APPKEY=tu-app-key-de-libelula
LIBELULA_API_URL=https://api.libelula.bo
SELF_URL=https://tu-api-gateway-url.execute-api.us-east-1.amazonaws.com/dev
